<header>
  <div class="header-logo">
    <%= link_to "MiniTweet", root_path %>
  </div>
  <ul class="header-menus">
    <li><%= link_to "MiniTweetについて", about_path %></li>
  </ul>
</header>
<div class="main top-main">
  <div class="top-message">
    <h2>ミニTWEETへようこそ！</h2>
    <p>楽しく呟いて世界中と共有しよう</p>
  </div>
</div>
